{% extends "base.html" %}

{% block title %}Profile - EverTimeline{% endblock %}

{% block content %}
<section class="auth-panel">
    <h1>Profile</h1>
    <form method="post" class="form-stack">
        <label>
            <span>Username</span>
            <input class="readonly-input" value="{{ g.user['username'] }}" readonly>
        </label>
        <label>
            <span>First name</span>
            <input name="first_name" value="{{ form.get('first_name', '') }}" autocomplete="given-name" required>
        </label>
        <label>
            <span>Last name</span>
            <input name="last_name" value="{{ form.get('last_name', '') }}" autocomplete="family-name" required>
        </label>
        <label>
            <span>Email address</span>
            <input name="email" type="email" value="{{ form.get('email', '') }}" autocomplete="email" required>
        </label>
        <button class="button primary" type="submit">Save profile</button>
    </form>
</section>
{% endblock %}
